.snpi__number {
  font-size: 0;

  &::before {
    content: attr(data-header);
    font-size: 16px;
  }
}

.snpi__force-bold-item {
  font-weight: bold;

  & + div > div:first-child {
    font-weight: bold;
  }
}

.notion-bulleted_list-block > div > div:first-child > div:not(.notion-selectable) {
  &[data-depth="0"] {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid currentColor;
    border-radius: 0 !important;
  }

  &[data-depth="2"] {
    height: 1px !important;
    border-radius: 0 !important;
  }

  &[data-depth="3"] {
    margin-top: 0 !important;
    width: 15px !important;
    height: 15px !important;
    background: unset !important;

    &::before {
      content: "P";
      font-weight: bold;
      font-family: "Wingdings 2";
    }
  }

  &[data-depth="4"] {
    margin-top: 0 !important;
    width: 15px !important;
    height: 24px !important;
    background: unset !important;

    &::before {
      content: "Ø";
      font-weight: bold;
      font-family: "Wingdings";
    }
  }
}
